* {
    line-height: 1.5;
}

.homepage-desc {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.chef-gif {
    max-width: 498px; 
    height: 303px; 
    margin: auto; 
    width: 417px;
}

.button-return {
    color: black;
    margin: auto;
    border-style: dashed;
    font-size: 28px;
}

.h1-homepage {
    color: darkcyan;
    font-family: cursive;
}